<!DOCTYPE html>
<html>
<head>
    <title>Dark Pattern Scanner</title>

    <style>
        body{
            font-family: Arial, sans-serif;
            width: 700px;
            margin: 40px auto;
        }

        textarea{
            width:100%;
            height:150px;
            padding:10px;
        }

        button{
            margin-top:10px;
            padding:10px 20px;
            cursor:pointer;
        }

        #result{
            margin-top:20px;
            font-size:18px;
        }
    </style>
</head>

<body>

<h1>Dark Pattern Scanner</h1>

<textarea
id="inputText"
placeholder="Enter text to analyze..."
></textarea>

<br>

<button onclick="scanText()">
    Analyze
</button>

<div id="result"></div>

<script>

async function scanText(){

    const text =
    document.getElementById("inputText").value;

    const response =
    await fetch("/predict",{

        method:"POST",

        headers:{
            "Content-Type":"application/json"
        },

        body:JSON.stringify({
            text:text
        })
    });

    const data = await response.json();

    document.getElementById("result").innerHTML =
    `
    <h3>Prediction</h3>
    <p><strong>Label:</strong> ${data.label}</p>
    <p><strong>Confidence:</strong> ${data.confidence}</p>
    `;
}

</script>

</body>
</html>